<h4>Erro Interno do Servidor - Faça reload na pagina para fazer o erro desaparecer!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Nota: Se você está vendo isso então possivelmente não é culpa do Angular</p>
    <p>Oque fazer?</p>
    <ol>
        <li>Abra o Chrome dev tools</li>
        <li>Inspecione a aba de Network</li>
        <li>Verifique os requests com erros ou incompletos</li>
        <li>Examine a URL do Request - tenha certeza que está correta</li>
        <li>Reproduza o erro no Postman - se ver a mesma resposta então o problema não é no angular</li>
    </ol>
    <p>Veja o stack trace - É onde a investigação deve começar!</p>
    <code class="mt-5" style="background-color: whitesmoke;"> {{error.details}}</code>
</ng-container>